h4,p,ul {
  text-align: center;
  align-content: center;

}
body {
  background-image: url("https://2.bp.blogspot.com/-4cceqVvhXj4/Th9ZiG3A_XI/AAAAAAAALQU/kidTdhokLP8/s1600/Abstracte-patroon-achtergronden-patroon-wallpapers-afbeeldingen-47.jpg");
  font-size: 18px;
  color:green;
  font-weight: bold;
}
